<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{mandi | titlecase}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{mandi | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let com of commodities">
      <ion-label
        >{{com.commodity | titlecase}} - &#8377;{{com.modal_price}}</ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
