<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'app.REQUEST.TITLE' | translate}}</ion-title>
    <ion-button fill="clear" (click)="presentModal()" slot="end">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="requests?.length > 0">
    <ion-item *ngFor="let request of requests" (click)="viewRequest(request)">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>{{request.song}}</ion-label>
    </ion-item>
  </ion-list>
  <div class="container" *ngIf="requests?.length==0">
    <h2>{{'app.REQUEST.EMPTY' | translate}}</h2>
  </div>
</ion-content>
