<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{'app.DONATION.TITLE' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'app.DONATION.TITLE' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    placeholder="Search Anything"
    inputmode="text"
    [(ngModel)]="search"
    type="text"
    [debounce]="250"
  ></ion-searchbar>

  <ion-list style="margin-bottom: 50px">
    <ion-item *ngFor="let donor of donors | filter: search">
      <ion-row class="ion-align-items-center" style="width: 100%">
        <ion-col size="3">
          <img class="img" [src]="imgUrl(donor.b_group)" />
        </ion-col>
        <ion-col size="9">
          <ion-label
            >{{'app.DONATION.DONORS.NAME' | translate}} : {{donor.name |
            titlecase}}</ion-label
          >
          <ion-label
            >{{'app.DONATION.DONORS.ADDRESS' | translate}} : {{donor.address |
            titlecase}}</ion-label
          >
          <ion-button
            (click)="openView(donor)"
            expand="block"
            style="margin-top: 12px; font-size: 15px"
          >
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon> &nbsp;
            {{'app.DONATION.DONORS.VIEW' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
