<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  <div class="container">
    <div class="player">
      <ion-button (click)="playStop()" fill="clear">
        <ion-icon
          slot="icon-only"
          *ngIf="!isPlaying"
          name="play-outline"
        ></ion-icon>
        <ion-icon
          slot="icon-only"
          *ngIf="isPlaying"
          name="pause-outline"
        ></ion-icon>
      </ion-button>
      <marquee loop="infinite" *ngIf="isPlaying"><h3>{{song}}</h3></marquee>
      <h3 *ngIf="isPlaying">
        {{ hours.toString().padStart(2, '0') }} : {{
        minutes.toString().padStart(2, '0') }} : {{
        seconds.toString().padStart(2, '0') }}
      </h3>
    </div>
    <div class="menus">
      <ion-grid>
        <ion-row class="top-row">
          <ion-col>
            <ion-card routerLink="/requests">
              <ion-card-content class="card-content">
                <div class="icon">
                  <img [src]="iconPath('clock')" alt="Request Icon" />
                </div>
                <div class="title">
                  <h3>{{'app.HOME.MENUS.REQUEST' | translate}}</h3>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="card-content">
                <div class="icon">
                  <img [src]="iconPath('smile')" alt="Jokes Icon" />
                </div>
                <div class="title">
                  <h3>{{'app.HOME.MENUS.JOKES' | translate}}</h3>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content class="card-content">
                <div class="icon">
                  <img [src]="iconPath('document')" alt="History Icon" />
                </div>
                <div class="title">
                  <h3>{{'app.HOME.MENUS.HISTORY' | translate}}</h3>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="top-row">
          <ion-col>
            <ion-card>
              <ion-card-content class="card-content">
                <div class="icon">
                  <img [src]="iconPath('program')" alt="Programs" />
                </div>
                <div class="title">
                  <h3>{{'app.HOME.MENUS.PROGRAMS' | translate}}</h3>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
