.container {
  margin: 30px;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.underline::before {
  text-decoration: underline;
  content: "";
  height: 1px;
  width: 90%;
  background: gray;
  position: absolute;
  left: 25px;
  right: 25px;
}
