<ion-content #content>
  <div class="container">
    <ion-row class="row">
      <ion-col size="3">
        <img
          [src]="imgPath + donor.b_group.toLowerCase() + '.png'"
          [alt]="donor.b_group"
        />
      </ion-col>
      <ion-col size="9">
        <h2>
          {{ donor.name | titlecase }}, {{ calculateAge(donor.dob) }} Years
        </h2>
        {{ donor.from }} :
        <ion-label>{{ donor.address | titlecase }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="12">
        <p style="font-size: 22px">{{ donor.area | titlecase }}</p>
      </ion-col>
    </ion-row>
    <div class="underline"></div>
    <ion-row class="row">
      <ion-col size="12">
        <p style="font-size: 18px">{{ donor.description }}</p>
      </ion-col>
    </ion-row>

    <ion-button expand="block" (click)="share()" shape="round">
      <ion-icon name="share-outline"></ion-icon>&nbsp; {{ donor.share }}
    </ion-button>
  </div>
</ion-content>
