<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/radio/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{'app.TABS.HOME' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="donation" href="/radio/donation">
      <ion-icon aria-hidden="true" name="water-outline"></ion-icon>
      <ion-label>{{'app.TABS.DONATION' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more" href="/radio/more">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>{{'app.TABS.MORE' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
