<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'app.HISTORY.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'app.HISTORY.TITLE' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="history?.length > 0">
    <ion-card *ngFor="let joke of history">
      <ion-card-header>
        <ion-card-title>{{joke.description}} </ion-card-title>
        <ion-card-subtitle>{{joke.addedBy.name}} </ion-card-subtitle>
      </ion-card-header>

      <ion-button (click)="share(joke)" fill="clear"
        >{{'app.JOKES.SHARE' | translate}}</ion-button
      >
    </ion-card>
  </div>
  <div class="no-data" *ngIf="history?.length == 0">
    <ion-title>{{'app.JOKES.NODATA' | translate}}</ion-title>
  </div>

  <!-- add button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user">
    <ion-fab-button (click)="onClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!user">
    <ion-fab-button (click)="presentAlert()" color="success">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- add button ends -->
</ion-content>
