<div class="container">
  <h2>{{ title }}</h2>
  <div class="request" *ngIf="request">
    <p>{{ request.song }}</p>
  </div>

  <div class="add-form" *ngIf="!request">
    <form [formGroup]="addForm" (submit)="addRequest()">
      <ion-item>
        <ion-label position="floating">{{
          "app.REQUEST.ADD.FIELDS.NAME" | translate
        }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{
          "app.REQUEST.ADD.FIELDS.SONG" | translate
        }}</ion-label>
        <ion-input type="text" formControlName="song"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{
          "app.REQUEST.ADD.FIELDS.MOBILE" | translate
        }}</ion-label>
        <ion-input type="text" formControlName="mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{
          "app.REQUEST.ADD.FIELDS.ADDRESS" | translate
        }}</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <ion-button
        class="submit-button"
        [disabled]="!addForm.valid"
        expand="block"
        type="submit"
        >{{ "app.REQUEST.ADD.FIELDS.BUTTON" | translate }}</ion-button
      >
    </form>
  </div>
</div>
